{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat UI</title>

    <script src="{% static 'lib/bootstrap-dist/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-dist/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">

    <script src="{% static 'lib/js/highlight.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/highligh_default.min.css' %}">

    <script src="{% static 'lib/js/polyfill.min.js' %}"></script>
    <script type="text/javascript" async src="{% static 'lib/js/tex-mml-chtml.js' %}"></script>
    <script src="{% static 'lib/js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
<div id="wrapper">
    <div id="leftNav">
        <button id="newChatButton" onclick="startNewChat()">New Chat</button>
        <div id="labelsListContainer">
            <ul id="labelsList">
            </ul>
        </div>
        <div id="navButtonsContainer">
            <button id="settingsButton">Settings</button>
            <button id="logoutButton">Logout</button>
        </div>
    </div>

    <div id="chatContainer">
        <div id="chatMessages" class="d-flex flex-column"></div>
        <div id="inputArea">
            {% csrf_token %}
            <textarea id="userInput" class="form-control" rows="3"></textarea>
            <button id="sendButton" onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>

<script>
    var logoutUrl = "{% url 'logout' %}";
    var loginUrl = "{% url 'login' %}";
</script>
<script defer src="{% static 'js/chat.js' %}"></script>
</body>
</html>